body {
  transform: scale(0.8);
  transform-origin: top left;
  width: 125%;
  height: 125%;
}
.scaleInverse {
  transform: scale(1.25);
  transform-origin: top left;
}

.mantine-Combobox-dropdown [role='group'],
.mantine-Combobox-dropdown [role='group'] [role='group'] {
  display: block;
  padding: 0 1rem 0.5rem 0.25rem;
}
